---
import Layout from '../layouts/Layout.astro';
---
<Layout title='Not Found, or as computers unintuitively state, 404'>
   <main class='flex justify-center items-center m-auto h-screen w-full max-w-2xl text-center'>
    <h1 class='text-4xl font-serif font-medium'>We can't find that book, mate.</h1>
   </main>
</Layout>
