---
const {
    id,
    title,
    img,
} = Astro.props;
---

<li id={id}>
    <a href={`/${title.replace('-', '')}`}>
        <img class='aspect-[3/4] object-cover transition-all hover:contrast-125 hover:shadow-lg'
        src={img}
        alt={`${title} book cover`}>
    </a>
</li>