---
const {
    id,
    title,
    img,
} = Astro.props;
---

<li id={id}>
    <a href={`/${title.toLowerCase().split(' ').join('-')}`}>
        <img class='aspect-[3/4] object-cover transition-all hover:contrast-125 hover:shadow-lg'
        src={img}
        alt={`${title} book cover`}
        style={`view-transition-name: ${title.split(' ').join('')}`}
        >
    </a>
</li>